.cardtable {
    min-width: 45%;
}

.Titlee{
    
    background: linear-gradient(92deg, #FFF 0.66%, #91929B 99.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 768px) {
    .cardtable {
        min-width: 100%;
    }
}
